<div style="background-color: #b3b1ad1a;">
    <mat-card class="header-card">
        <mat-card-header>
            <div>Job Search</div>
        </mat-card-header>
    </mat-card>
</div>
<router-outlet></router-outlet>