<div class="div-color">
    <div>
        <mat-card class="job-card" style="padding: 20px;margin: 20px 80px;">
            <mat-card-header>
                <mat-card-title style="font-size: medium;">{{jobDetails.title}}</mat-card-title>
                <mat-card-subtitle>{{jobDetails.location}} - <span style="font-size: small;color: darkgreen;">{{jobDetails.type}}</span>
                </mat-card-subtitle>
                <mat-card-subtitle>
                    Website: <a target="_blank" href='{{jobDetails.company_url}}'>{{jobDetails.company_url}}</a>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div [innerHTML]="jobDetails.description"></div>
            </mat-card-content>
            <mat-card-footer class="p20">
                <a target="_blank" href='{{jobDetails.url}}'>Click link to apply</a>
            </mat-card-footer>
        </mat-card>
    </div>
</div>