.job-card {
    /* max-width: 45%; */
    height: 90px;
    margin: 20px;
    opacity: 0.6;
}

.job-card-header {
    margin: 5px 20px;
}

.no-job-card {
    /* max-width: 45%; */
    height: 90px;
    margin: 20px;
    text-align: center;
}

.job-card-footer {
    font-size: small;
    float: right;
    padding-right: 20px;
}

.job {
    display: inline-block;
    flex-direction: column;
    flex-wrap: wrap;
}

.w50 {
    width: 50%;
}

.w45 {
    width: 45%
}

.w40 {
    width: 40%
}

.p10 {
    padding: 10px;
}

.pl10 {
    padding-left: 10px;
}

.p15 {
    padding: 15px;
}

.ml10 {
    margin-left: 10px;
}

.mlr40 {
    margin: 0px 40px;
}

.search-button {
    padding: 10px;
    background-color: #8A4496;
    color: white;
    border-radius: 25px;
    border: none;
}

.job-card:hover {
    opacity: 1.0;
    cursor: pointer;
}

.div-color {
    background-color: #b3b1ad1a;
}