<div class="div-color">
    <div class="job w45 p10">
        <mat-form-field class="job w40 p15 mlr40">
            <mat-label>Job Description</mat-label>
            <input matInput placeholder="Filter by title, companies, expertise, benefits" #input>
        </mat-form-field>
    </div>
    <div class="job w45 p10">
        <mat-form-field class="job w40 p15 mlr40">
            <mat-label>Location</mat-label>
            <input matInput placeholder="Filter by location" #location>
        </mat-form-field>
        <button class="search-button" (click)="searchbyDescriptor()">Search</button>
        <button class="search-button ml10" (click)="clearSearch()">Reset</button>
        <button class="search-button ml10" (click)="syncJobs()">Sync Jobs</button>
    </div>

    <div *ngIf="jobPosts.length!==0">
        <mat-card class="job-card-header">
            <div style="font-size: medium;padding-left: 20px;">No of Jobs: {{jobPosts.length}}</div>
        </mat-card>
        <div *ngFor="let job of jobPosts" class="job w50">
            <mat-card class="job-card" (click)="detailedPage(job.id)">
                <mat-card-header>
                    <mat-card-title style="font-size: medium;">{{job.title}}</mat-card-title>
                    <mat-card-subtitle>{{job.location}} - <span style="font-size: small;color: darkgreen;">{{job.type}}</span></mat-card-subtitle>
                </mat-card-header>
                <mat-card-footer class="job-card-footer">
                    {{job.created_at | date:'dd-MMM-yyyy'}}
                </mat-card-footer>
            </mat-card>
        </div>
    </div>

    <div *ngIf="jobPosts.length===0">
        <mat-card class="no-job-card">
            <mat-card-content>
                <h2>No Jobs to show</h2>
            </mat-card-content>
        </mat-card>
    </div>

    <!-- <mat-paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvent = postPagination($event)"></mat-paginator> -->


    <!-- <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = postPagination($event)">
    </mat-paginator> -->
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple"></ngx-spinner>